body {
    background-image: url(../img/bg.jpg);
}

.logo {
    font-family: sans-serif;
}

.logo a {
    color: rgba(255, 255, 255, 0.9)
}

.logo a:hover,
.logo a:active {
    text-decoration: none;
}