{% extends 'base.html' %}

{% block title %}
    {{ object.merk }} {% if object.jenis %}{{ object.tipe }} {{ object.jenis }} {% else %}{{ object.item }} {% endif %} Update History
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'review' %}">Review</a></li>
    <li class="breadcrumb-item"><a href="{% block url_category %}{% endblock  %}">{% block bc_category %}{% endblock  %}</a></li>
    <li class="breadcrumb-item active">Item History</li>
{% endblock %}

{% block content %}
    <h5 class="welcome">History of {{ object.merk }} {% if object.jenis %}{{ object.tipe }} {{ object.jenis }} {% else %}{{ object.item }} {% endif %} Data Update</h5>

    <table class="table mb-4 mt-4">
        <thead class="thead-inverse">
            <tr>
                <th>Submitted By</th>
                <th>Submitted At</th>
                <th>Updated By</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ object.entry_by }}</td>
                <td>{{ object.created_at }}</td>
                {% if object.updated_by %}
                    <td>{{ object.updated_by }}</td>
                {% else %}
                    <td>----------</td>
                {% endif %}
                {% if object.updated_at %}
                    <td>{{ object.updated_at }}</td>
                {% else %}
                    <td>----------</td>
                {% endif %}
            </tr>
        </tbody>
    </table>    
{% endblock %}