{% extends 'base_review.html' %}

{% block title_category %}Solar Charging Controller{% endblock %}

{% block bc_category %}Solar Charging Controller{% endblock %}

{% block url_review %}{% url 'review_solarcc' %}{% endblock  %}

{% block table_header %}
    <th>Brand</th>
    <th>Model Name</th>
    <th>Type</th>
    <th>Charge Voltage</th>
    <th>Charge Current</th>
    <th>Max. Power</th>
    <th>Price</th>
    <th>Contact Info</th>
    <th>Period</th>
    <th>Options</th>
{% endblock  %}
   
{% block table_data %}
    <td>{{ object.merk }}</td>
    <td>{{ object.item }}</td>
    <td>{{ object.tipe }}</td>
    <td>{{ object.vbat }} V</td>
    <td>{{ object.amperage }} A</td>
    <td>{{ object.wattmax }} W</td>
    <td>Rp. {{ object.idr_value }},-</td>
    <td>{{ object.contact }}</td>
    <td>{{ object.period }}</td>
{% endblock  %}

{% block edit_category_url %}{% url 'edit_solarcc' object.pk %}{% endblock  %}

{% block delete_category_url %}{% url 'delete_solarcc' object.pk %}{% endblock  %}

{% block history_category_url %}{% url 'history_solarcc' object.pk %}{% endblock  %}