{% extends 'base.html' %}

{% block title %}
    Inverter Review
{% endblock %}

{% block breadcrumb %}
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'review' %}">Review</a></li>
                <li class="breadcrumb-item active">Inverter Review</li>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div  {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}> {{ message }} </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'review_inverter' %}" method="get" class="search-box mb-4" novalidate>
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}<br>{{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Search" class="btn btn-primary">
    </form>

    <table class="table mb-4 mt-4">
        <thead class="thead-inverse">
            <tr>
                <th>Brand</th>
                <th>Model Name</th>
                <th>Type</th>
                <th>Application</th>
                <th>Phase</th>
                <th>KVA Value</th>
                <th>Price</th>
                <th>Submitted By</th>
                <th>Date Submitted</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for object in inverters %}
                <tr>
                    <td>{{ object.merk }}</td>
                    <td>{{ object.tipe }}</td>
                    <td>{{ object.jenis }}</td>
                    <td>{{ object.aplikasi }}</td>
                    <td>{{ object.phase }}</td>
                    <td>{{ object.kva }}</td>
                    <td>Rp. {{ object.idr_value }},-</td>
                    <td>{{ object.entry_by.username }}</td>
                    <td>{{ object.created_at }}</td>
                    <td>
                        <a href="{% url 'edit_inverter' object.pk %}">Edit</a><br>
                        <a href="{% url 'delete_inverter' object.pk %}">Delete</a><br>
                        <a href="{% url 'history_inverter' object.pk %}">Show Update History</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}