{% extends 'base_review.html' %}

{% block title_category %}Mounting{% endblock %}

{% block bc_category %}Mounting{% endblock %}

{% block url_review %}{% url 'review_mounting' %}{% endblock  %}

{% block table_header %}
    <th>Brand</th>
    <th>Model Name</th>
    <th>Type</th>
    <th>Module Power</th>
    <th>Price per Wp</th>
    <th>Contact Info</th>
    <th>Period</th>
    <th>Options</th>
{% endblock  %}
   
{% block table_data %}
    <td>{{ object.merk }}</td>
    <td>{{ object.item }}</td>
    <td>{{ object.tipe }}</td>
    <td>{{ object.kw_value }} Wp</td>
    <td>{% if object.kurs == '$' %}US$ {% else %}EUR {% endif %}{{ object.wp_price }},-</td>
    <td>{{ object.contact }}</td>
    <td>{{ object.period }}</td>
{% endblock  %}

{% block edit_category_url %}{% url 'edit_mounting' object.pk %}{% endblock  %}

{% block delete_category_url %}{% url 'delete_mounting' object.pk %}{% endblock  %}

{% block history_category_url %}{% url 'history_mounting' object.pk %}{% endblock  %}