{% extends 'base_review.html' %}

{% block title_category %}Weather Station{% endblock %}

{% block bc_category %}Weather Station{% endblock %}

{% block url_review %}{% url 'review_weather_station' %}{% endblock  %}

{% block table_header %}
    <th>Brand</th>
    <th>Model Name</th>
    <th>Type</th>
    <th>Price</th>
    <th>Contact Info</th>
    <th>Period</th>
    <th>Options</th>
{% endblock  %}
   
{% block table_data %}
    <td>{{ object.merk }}</td>
    <td>{{ object.item }}</td>
    <td>{{ object.tipe }}</td>
    <td>US$ {{ object.usd_value }},-</td>
    <td>{{ object.contact }}</td>
    <td>{{ object.period }}</td>
{% endblock  %}

{% block edit_category_url %}{% url 'edit_weather_station' object.pk %}{% endblock  %}

{% block delete_category_url %}{% url 'delete_weather_station' object.pk %}{% endblock  %}

{% block history_category_url %}{% url 'history_weather_station' object.pk %}{% endblock  %}