{% extends 'base_review.html' %}

{% block title_category %}All-in-One{% endblock %}

{% block bc_category %}All-in-One{% endblock %}

{% block url_review %}{% url 'review_all_in_one' %}{% endblock  %}

{% block table_header %}
    <th>Brand</th>
    <th>Model Name</th>
    <th>Type</th>
    <th>Phase</th>
    <th>Capacity</th>
    <th>Price</th>
    <th>Contact Info</th>
    <th>Period</th>
    <th>Options</th>
{% endblock  %}
   
{% block table_data %}
    <td>{{ object.merk }}</td>
    <td>{{ object.item }}</td>
    <td>{{ object.tipe }}</td>
    <td>{{ object.phase }}</td>
    <td>{{ object.kva }}</td>
    <td>Rp. {{ object.idr_value }},-</td>
    <td>{{ object.contact }}</td>
    <td>{{ object.period }}</td>
{% endblock  %}

{% block edit_category_url %}{% url 'edit_all_in_one' object.pk %}{% endblock  %}